body {
  font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
*{
  outline: none;
}
.avue-canvas {
  display: none;
}

.avue-ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.avue--disabled{
  color:#ccc;
}
.avue--detail{
  .hover-row td{
    background-color: #fff !important;
  }
  .avue-group__header{
    padding-left: 10px;
  }
  .el-collapse-item__header{
    margin-bottom: 0;
  }
  .el-input.is-disabled .el-input__wrapper{
    box-shadow: none;
  }
  .el-input.is-disabled .el-input__inner,.el-textarea.is-disabled .el-textarea__inner,.el-range-editor.is-disabled,.el-range-editor.is-disabled input{
    color: #606266;
    background-color: #fff;
    padding-left: 0;
    box-shadow:none;
  }
  .el-input-number__decrease,.el-input-number__increase{
    display: none;
  }
  .el-input-group__append, .el-input-group__prepend{
    background-color: transparent;
    border:none;
  }
  .el-input__suffix,.el-input__prefix{
    display: none;
  }
  .el-input__inner,.el-textarea__inner{
    border: none;
    &::-webkit-input-placeholder {
      color:transparent !important;
    }
    &::-moz-placeholder {
      color: transparent !important;
    }
    &::-moz-placeholder {
      color:transparent !important;
    }
    &::-ms-input-placeholder {
      color: transparent !important;
    }
    &::-ms-input-placeholder {
      color:transparent !important;
    }
  }
  .avue-checkbox__all{
    display: none;
  }
  .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner{
    background-color: #409EFF;
    border-color: #409EFF;
  }
  .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after{
    border-color:#fff;
  }
  .el-radio__input.is-disabled.is-checked .el-radio__inner{
    background-color:#409EFF;
    border-color: #409EFF;
  }
  .el-radio__input.is-disabled.is-checked .el-radio__inner::after{
    background-color:#fff;
  }
  .el-checkbox__input.is-disabled+span.el-checkbox__label,
  .el-radio__input.is-disabled+span.el-radio__label{
    color: #606266;
  }
  .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before{
    display: none;
  }
  .el-row{
    border-top:1px solid #ebeef5;
    border-left:1px solid #ebeef5;
  }
  .el-col{
    margin-bottom: 0;
    padding:0 !important;
    border-bottom:1px solid #ebeef5;
    border-right:1px solid #ebeef5;
  }
  .el-form-item{
    margin-bottom: 0;
  }
  .el-form-item__label,.el-form-item__content{
    padding: 2px 0;
  }
  .el-form-item__label{
    padding-right: 20px;
    color: #909399;
    box-sizing: border-box;
    background: #fafafa;
  }
  .el-tag{
    margin-left: 0 !important;
    margin-right: 6px !important;
  }
  .el-form-item__content{
   border-left:1px solid #ebeef5;
   padding-left: 20px;
   box-sizing: border-box;
   background-color: #fff;
  }
  .el-input.is-disabled .el-input__wrapper{
    background-color:#fff;
  }
  &__column{
    .el-form-item{
      background-color: #fff;
    }
    .el-form-item__label{
      padding-right: 12px;
    }
    .el-form-item__content{
      padding-left: 0;
      border-left: none;
    }
   }
}

.avue-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 20px 20px, 20px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, .1) 1px, transparent 0), linear-gradient(90deg, rgba(0, 0, 0, .1) 1px, transparent 0);
}

.avue-icon{
  svg,i{
    width: 32px;
    height: 32px;
    font-size: 32px;
  }
  &--small{
    svg,i{
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
}
.avue-dialog {
  .el-dialog__headerbtn{
    top:3px;
    width: 40px;
  }
  .el-dialog__header{
    padding: 16px 24px;
    min-height: 20px;
    border-bottom: 1px solid #f0f0f0;
  }
  .el-dialog__title,.el-drawer__header{
    color: rgba(0,0,0,.85);
    font-weight: 500;
    word-wrap: break-word;
  }
  .el-drawer{
    position:absolute;
    right: 0;
    top:0;
    display: flex;
    flex-direction: column;
  }
  .el-drawer__header{
    margin: 0;
    min-height: 20px;
    padding: 16px 10px 16px 24px;
    border-bottom: 1px solid #f0f0f0;
  }
  .el-drawer,.el-drawer__body{
    flex:1;
    overflow:auto;
  }
  .el-drawer__body{
    padding: 30px 10px 60px 30px;
  }
  &__footer{
    padding-top: 20px;
    display: block;
    padding: 10px 16px;
    box-sizing: border-box;
    border-top: 1px solid #f0f0f0;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #fff;
    text-align: right;
    &--left{
      text-align: left;
    }
    &--center{
      text-align: center;
    }
  }
  &--fullscreen{
    .el-dialog{
      left:0;
      top:0;
      transform:translate(0,0);
      width: 100% !important;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.avue-queue--block {
  display: inline-block;
}

.avue-opacity {
  opacity: 0
}

.avue-opacity--active {
  opacity: 1
}