body {
  font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

* {
  outline: none;
}

.avue-canvas {
  display: none;
}

.avue--detail {
  .hover-row td {
    background-color: #fff !important;
  }

  .avue-group__header {
    border-bottom: 1px solid #eee;
    padding-left: 10px;
  }

  .el-select__wrapper.is-disabled {
    background-color: transparent;
    box-shadow: none !important;
  }

  .el-select__suffix {
    display: none;
  }

  .el-collapse-item__header {
    margin-bottom: 0;
  }

  .el-input.is-disabled .el-input__wrapper {
    box-shadow: none;

  }

  .el-input.is-disabled .el-input__inner,
  .el-textarea.is-disabled .el-textarea__inner,
  .el-range-editor.is-disabled,
  .el-range-editor.is-disabled input {
    color: #606266;
    background-color: #fff;
    padding-left: 0;
    box-shadow: none;
    -webkit-text-fill-color: inherit;
  }

  .el-input-number__decrease,
  .el-input-number__increase {
    display: none;
  }

  .el-input-group__append,
  .el-input-group__prepend {
    background-color: transparent;
    border: none;
    box-shadow:none;
  }

  .el-input__suffix,
  .el-input__prefix {
    display: none;
  }

  .el-input__inner,
  .el-textarea__inner {
    border: none;

    &::-webkit-input-placeholder {
      color: transparent !important;
    }

    &::-moz-placeholder {
      color: transparent !important;
    }

    &::-moz-placeholder {
      color: transparent !important;
    }

    &::-ms-input-placeholder {
      color: transparent !important;
    }

    &::-ms-input-placeholder {
      color: transparent !important;
    }
  }

  .avue-checkbox__all {
    display: none;
  }

  .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
    background-color: #409EFF;
    border-color: #409EFF;
  }

  .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {
    border-color: #fff;
  }

  .el-radio__input.is-disabled.is-checked .el-radio__inner {
    background-color: #409EFF;
    border-color: #409EFF;
  }

  .el-radio__input.is-disabled.is-checked .el-radio__inner::after {
    background-color: #fff;
  }

  .el-checkbox__input.is-disabled+span.el-checkbox__label,
  .el-radio__input.is-disabled+span.el-radio__label {
    color: #606266;
  }

  .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:before,
  .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
    display: none;
  }

  .el-row {
    border-top: 1px solid #ebeef5;
    border-left: 1px solid #ebeef5;
  }

  .el-col {
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: 1px solid #ebeef5;
    border-right: 1px solid #ebeef5;
  }

  .el-form-item {
    margin-bottom: 0;
    background: #fafafa;
  }

  .el-form-item__label {
    padding-right: 20px;
    color: #909399;
    box-sizing: border-box;
    background: #fafafa;
  }

  .el-tag {
    margin-left: 0 !important;
    margin-right: 6px !important;
  }

  .avue-crud {
    margin: 10px 0;
  }

  .el-form-item__content {
    border-left: 1px solid #ebeef5;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #fff;
  }

  .el-input.is-disabled .el-input__wrapper {
    background-color: #fff;
  }

  .el-upload.el-upload--picture-card,
  .el-upload.el-upload--picture,
  .el-upload.el-upload--text,
  .el-icon.avue-upload__avatar,
  .el-upload__tip {
    display: none;
  }

  .el-upload-list--picture-card,
  .avue-upload--picture-img {
    padding-top: 10px;
  }

  .avue-upload--picture-img {
    .el-upload.el-upload--text {
      display: inline-block;
    }
  }

  &__column {
    .el-form-item {
      background-color: #fff;
    }

    .el-form-item__label {
      padding-right: 12px;
    }

    .el-form-item__content {
      padding-left: 0;
      border-left: none;
    }
  }
}

.avue-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg,
  i {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }

  &--small {

    svg,
    i {
      font-size: 15px;
      width: 15px;
      height: 15px;
    }
  }
}


.avue-dialog {
  min-height: 180px;
  border-radius: 2px;
  max-height: calc(100% - 200px);
  max-width: calc(100% - 100px);
  display: flex;
  padding:0;
  flex-direction: column;
  .el-dialog__header{
    padding: 16px;
  }
  .el-dialog__header,
  .el-drawer__header {
    border-bottom: 1px solid #f0f0f0;
  }

  .el-dialog__title,
  .el-drawer__header {
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    word-wrap: break-word;
  }

  .el-dialog__body {
    padding:20px 20px 60px 20px;
    flex: 1;
    overflow: scroll;
  }
  .el-dialog__footer{
    padding:20px;
    padding-top: 10px;
  }

  .el-drawer {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
  }

  .el-drawer__header {
    margin: 0;
    padding: 16px 10px 16px 24px;
  }

  .el-drawer__body {
    padding-bottom: 60px;
  }

  &__footer {
    z-index: 2;
    padding-top: 20px;
    display: block;
    padding: 10px 16px;
    box-sizing: border-box;
    border-top: 1px solid #f0f0f0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    text-align: right;

    &--left {
      text-align: left;
    }

    &--center {
      text-align: center;
    }
  }

  &--none {
    .el-dialog__body {
      padding-bottom: 20px;
    }

  }
}

.el-drawer {
  left: initial;
  transform: initial;
  max-height: initial;
  max-width: initial;

  .avue-crud__dialog__menu {
    margin-top: 5px;

    i {
      font-size: 16px;
    }
  }
}

.el-dialog.is-fullscreen {
  max-width: initial;
  max-height: initial;
}