.el-tooltip__popper{
  max-width: 60%;
}
.avue-crud,.avue-form{
  .el-select,
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner,
  .el-cascader,
  .avue-input-number {
    width: 100% !important;
  }
  .el-input-number .el-input__inner{
    text-align: left;
  }
  .avue-crud__left,.avue-crud__right{
    .el-button + .el-button {
      margin-left: 0;
    }
    .el-button{
      margin-right: 5px;
      margin-bottom: 0px;
    }
  }
  .el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
    color:#409EFF;
  }
  .el-tree-node__label{
    margin-left: 8px;
  }
  .el-input__inner {
    height: 38px;
    line-height: 38px;
  }
  .el-range-editor--small{
    height: 32px;
    line-height: 32px;
  }
  .el-range-editor--mini{
    height: 28px;
    line-height: 28px;
  }
  .el-input--small {
    input {
      height: 32px;
      line-height: 32px;
    }
  }

  .el-input--mini {
    input {
      height: 28px;
      line-height: 28px;
    }
  }
  .el-table--medium td {
    padding: 7px 0 !important;
  }

  .el-tooltip__popper {
    max-width: 60%;
  }

  .el-dropdown-menu__item {
    line-height: 25px;
  }
  .el-table-filter__list {
    width: 100%;
    height: 300px;
    overflow-y: auto;
  }
}
.el-form-item--mini{
  .el-color-picker--mini,.el-color-picker--mini .el-color-picker__trigger{
    width: 23px;;
    height:23px;
  }
}
.el-dropdown-menu{
  .el-button--text{
    width: 100% !important;
  }
}
.el-pagination__editor.el-input .el-input__inner {
  line-height: 28px;
}

.el-drawer{
  .el-drawer__body{
    height: 100%;
  }
  .avue-form{
    padding: 20px;
  }
}
.el-checkbox:last-of-type {
  margin-right: 8px;
}
 .el-table th.gutter{
  display: table-cell!important;
}

.el-table colgroup.gutter{
  display: table-cell!important;
}
.el-input-number{
  .el-input__suffix{
    display: none;
  }
}
.el-input-number__decrease, .el-input-number__increase{
  background-color: transparent;
}

.el-tree-node.is-current>.el-tree-node__content {
   color: #409eff; 
   background-color: #F5F7FA; 
}

.el-select-dropdown .el-scrollbar .el-scrollbar__view .el-select-dropdown__item {
  height: auto;
  padding: 0;
}

.el-select-dropdown .el-scrollbar .el-scrollbar__view .el-select-dropdown__item>span{
  padding: 0 20px;
}
.el-select-dropdown__item.selected {
    font-weight: normal;
}
.el-select-dropdown .el-tree-node__label {
    font-weight: normal;
}

.el-form-item.is-error .avue-dynamic{
  border: 1px solid #F56C6C;
  border-radius: 3px;
}
.el-dropdown-menu__item{
  padding-top:3px !important;
  padding-bottom:3px !important;
}

.el-upload--picture-card,.el-upload--picture-img{
  .el-upload-dragger{
    width: inherit;
    height: inherit;
    background-color: inherit;
  }
}

