.avue-crud,.avue-form{
  .el-select,
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner,
  .el-cascader,
  .avue-input-number {
    width: 100% !important;
  }
  .avue-crud__left,.avue-crud__right{
    .el-button + .el-button {
      margin-left: 0;
    }
    .el-button{
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
  .el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
    color:#409EFF;
  }
  .el-tree-node__label{
    margin-left: 8px;
  }
  .el-input__inner {
    height: 38px;
    line-height: 38px;
  }

  .el-input--small {
    input {
      height: 32px !important;
      line-height: 32px !important;
    }
  }

  .el-input--mini {
    input {
      height: 28px !important;
      line-height: 28px !important;
    }
  }

  .el-table--medium td {
    padding: 7px 0 !important;
  }

  .el-tooltip__popper {
    max-width: 60%;
  }

  .el-dropdown-menu__item {
    line-height: 25px;
  }
  .el-table-filter__list {
    width: 100%;
    height: 300px;
    overflow-y: auto;
  }
}
.el-form-item--mini{
  .el-color-picker--mini,.el-color-picker--mini .el-color-picker__trigger{
    width: 23px;;
    height:23px;
  }
}
.el-dropdown-menu{
  .el-button--text{
    width: 100% !important;
  }
}v
.el-pagination__editor.el-input .el-input__inner {
  line-height: 28px;
}
.el-drawer__body{
  height: 100%;
}
.el-checkbox:last-of-type {
  margin-right: 8px;
}
 .el-table th.gutter{
  display: table-cell!important;
}

.el-table colgroup.gutter{
  display: table-cell!important;
}
.is-success,.is-error{
  .el-input-number__decrease,.el-input-number__increase{
    right: 25px !important;
  }
}
.el-input-number__decrease, .el-input-number__increase{
  background-color: transparent;
  border-left: none !important;
  color: #c0c4cc !important;
  font-size: 16px !important;
}
.el-input-number__increase{
  border-bottom: none !important;
}

 .el-table th.gutter { //element-ui中table表头错位问题
  display: table-cell !important;
}

.el-table colgroup.gutter { //element-ui中table表头错位问题
  display: table-cell !important;
}
.el-transfer{
  display: flex;
  justify-content: center
}
.el-tree-node.is-current>.el-tree-node__content {
   color: #409eff; 
   background-color: #F5F7FA; 
}
.el-transfer-panel__item{
  width: 100%;
}
