.avue-form-detail {
    &__item {
        padding: 20px 0 20px 0;
        border-bottom: 1px solid #eee;
        &:last-child {
            border-bottom: none;
        }
    }
    &__icon {
        margin-right: 10px;
        font-size: 20px;
    }
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    &__title {
        font-size: 16px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.85);
    }
    &__box {
        margin-bottom: 20px;
        font-size: 14px;
    }
    &__label {
        margin-right: 10px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.85);
        &--center {
            text-align: center;
        }
        &--left {
            text-align: left;
        }
        &--right {
            text-align: right;
        }
    }
    &__content {
        line-height: 22px;
        width: 100%;
        color: rgba(0, 0, 0, 0.65);
    }
}