.avue-ghost {
    opacity: 0.5;
    background: #c8ebfb;
}

.avue-tip {
    position: relative;
    margin-bottom: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    &__icon {
        margin-top: 3px;
        margin-right: 5px;
        font-size: 14px;
    }
    &__name {
        font-size: 12px;
        margin-right: 15px;
        color: #515a6e;
        &--bold {
            padding: 0 6px;
            color: #409eff;
            font-weight: bold;
            font-size: 18px;
        }
    }
    &__btn {
        margin-top: 3px;
        cursor: pointer;
    }
}