.data-icons {
    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }
    .item-icon {
        margin-top: 3px;
        margin-right: 8px;
        &>i {
            font-size: 46px !important;
        }
    }
    .item-info {
        text-align: center;
        &>span {
            display: block;
            color: #999;
            font-size: 12px;
        }
        .count {
            font-size: 20px;
            line-height: 25px;
        }
    }
    .item--easy {
        flex-direction: column;
        &>.item-icon {
            margin: 0;
        }
        &>.item-info {
            margin-top: -15px;
            &>span {
                font-size: 14px;
            }
        }
    }
}