.avue-date-select {
    display: flex;
    align-items: center;
    &__radio {
        .el-radio-button:last-child .el-radio-button__inner {
            border-radius: 0;
            border-right: 0;
        }
    }
    &__date {
        width: 300px;
        .el-date-editor {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}