.from {
    padding: 8px 10px;
    .row {
        &.is-block {
            height: auto;
        }
        &.is-cursor {
            cursor: pointer;
        }
    }
    .el-col {
        position: relative;
    }
    .menu {
        position: absolute;
        right: 0;
        top: -10px;
        z-index: 999;
        i {
            color: #666;
        }
        i+i {
            margin-left: 10px;
        }
    }
}

.from {
    .el-checkbox+.el-checkbox {
        margin-left: 20px;
    }
    .el-radio+.el-radio {
        margin-left: 20px;
    }
}

.form-menu {
    width: 100%;
    &.is-center {
        text-align: center;
    }
    &.is-left {
        text-align: left;
    }
    &.is-right {
        text-align: right;
    }
}