.el-button--primary{
    background-color:$mainBg !important;
    border-color:$mainColor !important;
}
.el-button--primary:hover{
    background-color:$mainBg !important;
    border-color:$mainColor !important;
    opacity: .8;
}