$table-border: #eee; //边框色
$thame-bg:#1E9FFF; //主题色

.app-main{
    height: 100%;
    overflow: hidden;
}
.yun-content {
    padding: 0 0 20px 0;
    position: relative;
    min-height:100%;
    background: #fff;
}

.yun-page {
    .el-pagination {
        margin-top: 30px;
        margin-right: 10px;
        float: right;
    }
}

.yun-img-box {
    position: relative;
    margin: 5px 5px;
    padding: 10px 10px;
    box-sizing: border-box;
    background: #f2f2f2;
    border-radius: 5px;
    .bg {
        margin: 0 auto;
        width: 100%;
        height: 200px;
        border-radius: 5px;
        box-sizing: border-box;
    }
    .img {
        width: 100%;
        height: 100%;
        background: #FCFCFC;
        box-sizing: border-box;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .box{
        padding:6px 15px 15px 15px;
        border-style: solid;
        border-width: 1px;
        border-color: #eee;
        border-top: 0;
        box-shadow: 5px 5px 15px #999;
        box-sizing: border-box;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background: #fff;
    }
    .text {
        min-height: 80px;
        line-height: 25px;
    }
    .date {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.yun-table {
    margin-bottom: 10px;
    width: 100%;
    border: 0;
    border-top: 1px solid $table-border;
    border-bottom: 1px solid $table-border;
    background: #fff;
    .el-menu {
        background: #fcfcfc;
    }
    .el-table__footer-wrapper thead div,
    .el-table__header-wrapper thead div {
        background: transparent;
    }
    .el-table__body-wrapper {
        overflow: hidden;
    }
    .el-table::after,
    .el-table::before {
        display: none;
    }
    .el-input__icon+.el-input__inner,
    .el-input__inner {
        border: 0;
        background: transparent;
    }
    th,td{
        padding: 0;
    }
    th {
        height: 40px;
        border-right: 1px solid $table-border;
        border-bottom: 1px solid $table-border;
        color: #666;
        font-size: 14px;
        letter-spacing: 1px;
        text-indent: 1px;
        font-weight: bold;
        background: #fff;
        &:first-child {
            border-left: 1px solid $table-border;
        }
    }
    td {
        height: 40px;
        border: 1px solid $table-border;
        background: #fff;
    }
    .ico {
        padding-right: 10px;
        color: #999;
    }
    .title {
        padding-right: 1em;
        text-align: right;
        font-size: 14px;
        color: #666;
    }
    .text {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .auto {
        background: #FCFCFC !important;
    }
    .input {
        height: 40px;
        line-height: 40px;
        flex: 1;
        border: none;
        text-align: center;
        &:disabled {
            background: transparent;
        }
    }
}



.el-tabs__header {
    margin: 0 0 8px 0;
}

.el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    border: 1px solid #eee;
    border-bottom: 1px solid #fff;
    &:first-child {
        border-left: 0;
    }
}

.el-tabs__header {
    border-bottom: 1px solid #eee;
}

.el-select {
    display: block;
}

.el-input,
.el-input-number,
.el-date-editor.el-input,
.el-cascader,
.el-autocomplete,
.el-dropdown {
    width: 100%;
}

.menu .el-button {
    margin: 3px 0;
    min-width: 70px;
    text-align: center;
}

.header-menu {
    padding: 0 8px 10px 8px;
    .el-button {
        min-width: 96px;
    }
}

.khgl_form {
    margin: 0 auto;
    width: 100%;
    .el-input__inner {
        border: none;
    }
    .el-input-number__decrease,
    .el-input-number__increase {
        border: none;
    }
    .el-input-number.is-controls-right .el-input-number__decrease{
        border: none;
    }
    .el-form-item {
        padding: 0 20px 4px 20px;
        border-bottom: 1px solid rgba(0,0,0,0.04);
    }
    .form-row {
        margin: 0 0 20px 0;
    }
    .form-col {
        .el-form-item {
            margin-bottom: 5px;
        }
    }
    .form-content {
        margin: 0 auto;
        width: 94%;
        box-sizing: border-box;
        border-radius: 5px;
        background: #fff;
    }
}

.form-btn {
    text-align: center;
    border-bottom: 0;
    .el-button {
        min-width: 120px;
    }
}