.ant-btn+.ant-btn {
  margin-left: 10px;
}
.ant-time-picker,.ant-calendar-picker{
  width: 100%;
}
.ant-form{
  padding-right: 50px;
}
.ant-form-item-control {
  line-height: 34px;
}
.ant-form-item{
  height: 60px;
  margin-bottom:0;
}
.ant-form-item-with-help{
  margin-bottom: 0;
}