
.avue-echart{
  padding: 10px;
  &-table{
    &__header{
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-end;
      border-bottom-width:0
    }
    &__item{
      display: inline-block;
      padding: 5px 10px;
      border-style: solid;
      border-width: 1px;
      &--active{
        color:#fff !important;
      }
    }
    table{
      width:100%;
      border-width: 1px ;
      border-style: solid;
    }
    td,th{
      padding: 5px 10px;
      border-width: 0;
      border-bottom-width: 1px ;
      border-style: solid;
      font-size: 16px;
      font-weight: 300;
    }
  }
  &-header{
    padding: 10px;
    &--center{
      text-align: center;
    }
    &--right{
      text-align: right;
    }
    &__title{
      margin-right: 5px;
      font-size: 18px;
      font-weight: 400;
      color:#333;
      text-decoration: none;
    }
    &__info{
      display: inline-block;
    }
  }
  &-progress{
    position: relative;
    &__text{
      &--circle{
      position: absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      text-align: center;
      line-height: 30px;
      }
      &--line{
        margin-bottom: 20px;
        position: relative;
        display: flex;
        align-items: center;
        p{
          margin-right: 5px;
        }
      }
    }
  }
  &-flop{
    &__item{
      display: inline-block;
      font-family: "Microsoft Yahei";
      font-size: 32px;
      font-weight: normal;
      color: rgb(255, 255, 255);
      margin-left: 3.2px;
      margin-right: 3.2px;
      padding: 0px 0.1em;
      box-sizing: content-box;
      width: 0.6em;
      text-align: center;
      &--img{
        border-image-slice: 10 16 15 10 fill;
        border-width: 10px 16px 15px 10px;
        border-style: solid;
      }
      &--none{
        padding: 0 !important;
        border-width:0 !important;
        background-color: transparent !important;
      }
    }
  }
}