<!doctype html>

<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="../../cdn/axios/axios.js"></script>
    <script src="../../cdn/vue/vue.global.min.js"></script>
    <link rel="stylesheet" href="../../cdn/element-plus/index.css" />
    <script src="../../cdn/element-plus/index.full.min.js"></script>
  <script src="../../cdn/element-plus/icons-vue.js"></script>
    <link
      rel="stylesheet"
      href="../../cdn/animate/animate.min.css"
    />
    <link rel="stylesheet" href="../../../lib/index.css" />
    <script src="../../../lib/avue.js"></script>
    <style>
      .imagepreview-1-vue img {
        width: 60px;
        cursor: pointer;
        margin-right: 10px;
        border-radius: 4px;
      }

      .imagepreview-1-vue img:hover {
        box-shadow: 0 0 6px rgb(63, 63, 63);
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div>值:{{form}}</div>
      <avue-input-table
        :props="props"
        :children="children"
        :on-load="onLoad"
        v-model="form"
        placeholder="请选择数据"
      >
      </avue-input-table>
      
      <br />
      <div>格式化值:{{form0}}</div>
      <avue-input-table
        :props="props"
        :children="children"
        :formatter="formatter"
        :on-load="onLoad"
        v-model="form0"
        placeholder="请选择数据">
      </avue-input-table>
      
      <br />
      <div>值:{{form1}}</div>
      <avue-input-table
        multiple
        :props="props"
        :children="children"
        :formatter="formatter1"
        :on-load="onLoad1"
        v-model="form1"
        placeholder="请选择数据">
      </avue-input-table>
    </div>
  </body>
  <script>
    
    const pageFirst = [{
        id: '0',
        name: '张三',
        sex: '男',
        age: 18
      }, {
        id: '1',
        name: '李四',
        sex: '女',
        disabled: true,
        age: 18
      }, {
        id: '2',
        name: '王五',
        sex: '女'
      }]
    const pageSecond = [{
        id: '21',
        name: '小虎',
        sex: '男',
        age: 18
      }, {
        id: '22',
        name: '熊二',
        sex: '女'
    }]
    const getPageDataFun = ()=>[
      {
        id: "0",
        name: "张三",
        sex: "男",
      },
      {
        id: "1",
        name: "李四",
        sex: "女",
      },
    ]
    const getItemsInfo = (id, data)=>{
      const i = data.findIndex((i)=>i.id == id);
      return i < 0 ? '' : data[i]
    }
    var app = Vue.createApp({
      data() {
        return {
          props: {
            label: "name",
            value: "id",
          },
          children: {
            border: true,
            column: [
              {
                label: "姓名",
                width: 120,
                search: true,
                prop: "name",
              },
              {
                label: "性别",
                search: true,
                prop: "sex",
              },
            ],
          },

          form: "1",
          form0: '',
          form1: [0, '1', 4],
          // form1: []
        };
      },
      methods: {
        /** 此方法多态, 且callback的传参不得为空 */
        onLoad({ page, value, data }, callback) {
          if (value) {
            // 打开dialog的时候，处理table的当前选中值
            ElementPlus.ElMessage.success("首次查询" + value);
            return callback(getItemsInfo(value, getPageDataFun()));
          }
          
          // 加载 table 的可选数据
          if(data){
            ElementPlus.ElMessage.success("搜索查询参数" + JSON.stringify(data));
          }
          if(page){
            ElementPlus.ElMessage.success("分页参数" + JSON.stringify(page));
          }
          //分页查询信息
          callback({
            total: 2,
            data: getPageDataFun(),
          });
        },
        onLoad1 ({ page, value, data }, callback) {
          if (value) {
            // 打开dialog的时候，处理table的当前选中值
            ElementPlus.ElMessage.success('首次查询' + value)
            
            return callback( value.map(id=>getItemsInfo(id, pageFirst.concat(pageSecond))))
          }
          
          
          // 加载 table 的可选数据
          if(data){
            ElementPlus.ElMessage.success("搜索查询参数" + JSON.stringify(data));
          }
          if(page){
            ElementPlus.ElMessage.success("分页参数" + JSON.stringify(page));
          }
          //分页查询信息
          callback(page.currentPage == 1 
            ? {
              total: 20,
              data: pageFirst
            }
            : {
              total: 20,
              data: pageSecond
            }
          )
        },
        formatter (row) {
          if (!row.name) return ''
          return row.name + '-' + row.sex
        },
        formatter1(row) {
          console.log('formatter1 => row', row)
          if (Array.isArray(row)) {
            return row.map(ele => ele.name + '格式化').join(',')
          } else {
            return row.name + '格式化'
          }
        }
      },
    });
    app.use(ElementPlus);
    app.use(AVUE);
    app.mount("#app");
  </script>
</html>
