.avue-carousel {
  &--fullscreen {
    height: 100%;
    .el-carousel,
    .el-carousel__container {
      height: 90%;
    }
  }
  &__item {
    position: relative;
    width: 100%;
    height: 100%;
    a {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &__img {
    height: 100%;
    background-size: cover;
    background-position: center center;
  }
  &__title {
    z-index: 1024;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
