.avue-chat{
  box-shadow: 1px 2px 10px #eee;
  position: relative;
  background-color: #fcfcfc;
  ul,li{
    padding:0;
    margin: 0;
  }
  li{
    list-style: none;
    cursor: pointer;
  }
  .web__content{
    height:100%;
    display: flex;
  }
  .web__main {
    height: calc(100% - 200px);
    padding: 15px 15px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
  }
  .web__logo{
    background-color: #409eff;
    display: flex;
    padding: 15px 12px;
    margin: 0 auto;
    vertical-align: middle;
  }
  .web__logo-img{
    margin-top: 3px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
  }
  .web__logo-info{
    margin-left: 10px;
  }
  .web__logo-name{
    position: relative;
    margin-top: 5px;
    font-size: 13px;
  }
  .web__logo-dept{
    margin-top: 1px;
    font-size: 12px;
  }
  .web__logo-name,.web__logo-dept{
    color:#fff;
    margin: 0;
    padding: 0;
    width: 175px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .web__main-item {
    position: relative;
    font-size: 0;
    margin-bottom: 10px;
    padding-left: 60px;
    min-height: 68px;
  }

  .web__main-user,
  .web__main-text {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    font-size: 14px;
  }

  .web__main-user {
    position: absolute;
    left: 3px;
  }

  .web__main-user img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  .web__main-user cite {
    position: absolute;
    left: 60px;
    top: -2px;
    width: 500px;
    line-height: 24px;
    font-size: 12px;
    white-space: nowrap;
    color: #999;
    text-align: left;
    font-style: normal;
  }

  .web__main-user cite i {
    padding-left: 15px;
    font-style: normal;
  }

  .web__main-text {
    position: relative;
    line-height: 22px;
    margin-top: 25px;
    padding: 8px 15px;
    background-color: #f3f3f3;
    border-radius: 3px;
    border: 1px solid #f0f0f0;
    color: #000;
    word-break: break-all;
  }

  .web__main-arrow{
    top:6px;
    left:-8px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 8px;
    border-left-width: 0;
    border-right-color: #ebeef5;
  }
  .web__main-arrow::after{
    content: " ";
    top:-7px;
    left:1px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 7px;
    border-left-width: 0;
    border-right-color: #fff;
  }
  .web__main-item--mine .web__main-text .web__main-arrow{
    left:auto;
    right:-5px;
    border-color: transparent;
    border-style: solid;
    border-width: 8px;
    border-right-width: 0;
    border-left-color: #409eff;
  }
  .web__main-item--mine .web__main-text .web__main-arrow::after{
    left:auto;
    right:-2px;
    border-color: transparent;
    border-style: solid;
    border-width: 7px;
    border-right-width: 0;
    border-left-color: #409eff;
  }
  .web__main-list{
    margin:10px 0;
  }
  .web__main-list li{
    height: 30px;
    color:#409eff;
    line-height: 30px;
  }

  .web__main-item--mine {
    text-align: right;
    padding-left: 0;
    padding-right: 60px;
  }

  .web__main-item--mine .web__main-user {
    left: auto;
    right: 3px;
  }

  .web__main-item--mine .web__main-user cite {
    left: auto;
    right: 60px;
    text-align: right;
  }

  .web__main-item--mine .web__main-user cite i {
    padding-left: 0;
    padding-right: 15px;
  }

  .web__main-item--mine .web__main-text {
    margin-left: 0;
    text-align: left;
    background-color: #409eff;
    color: #fff;
  }
  .web__footer{
    box-shadow: 0 -1px 0 0 rgba(0,0,0,.04), 0 -2px 0 0 rgba(0,0,0,.01);
    position: absolute;
    left: 0;
    bottom:0;
    width:100%;
    background-color: #fff;
  }
  .web__msg{
    padding: 10px 10px;
    height: auto;
    overflow: hidden;
    &--img,&--video,&--file{
      position: relative;
      max-width: 250px;
      min-width: 200px;
      width:100%;
      margin:10px 0;
      border:1px solid #eee;
      overflow: hidden;
      border-radius: 5px;
      cursor: pointer;
      display: block;
    }
    &--file{
      height: 140px;
      background-color: #fff;
      span{
        box-sizing: border-box;
        padding: 3px 5px;
        color:#333;
        display: flex;
        align-items: center;
        width:100%;
        justify-content: center;
        height:calc(100% - 80px);
        overflow: hidden;
        font-size: 13px;
        text-align: center;
      }
      h2{
        margin: 0;
        width: 100%;
        text-align: center;
        line-height: 80px;
        background-color: #409EFF;
        color:#fff;
      }
    }
    &--map{
      height: 160px;
    }
  }
  .web__msg-input{
    display: block;
    width: 100%;
    height: 60px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    resize: none;
    outline: 0;
    background-color: #fff;
    border: 0;
    word-break: break-all;
    font-size: 13px;
    line-height: 17px;
    -webkit-appearance: none;
  }
  .web__msg-submit{
    float: right;
    display: block;
    outline: none;
    cursor: pointer;
    text-align: center;
  }
  .web__tools{
    padding: 8px 10px 0 10px;
    box-sizing: border-box;
    i{
      margin-right: 12px;
      font-size: 20px;
      color:#888a91;
      &:hover{
        color:#76b1f9;
      }
    }
  }
}