$color-blue: #2196f3;
$space-width: 15px;
.avue-crud {
  .el-card+.el-card {
    margin-top: 8px;
  }
  .el-button.is-text{
    padding-left: 5px;
    padding-right: 5px;
  }
  &--card{
    .el-card{
      border:none;
    }
    .el-card__body{
      padding: 0;
    }
    .el-card+.el-card {
      margin-top: 0;
    }
  }
  .el-table{
    .el-form-item{
      margin-bottom: 0;
      display: inline-block;
      width: 100%;
    }
    .el-form-item__label{
      position: absolute;
      left: 2px;
    }
    .el-form-item__content{
      line-height: inherit;
      font-size: inherit;
    }
    .el-form-item__error{
      width: 100%;
      text-align: left;
      position: relative;
    }
  }
  .el-dropdown+.el-button {
    margin-left: 10px;
   }
  .el-checkbox:last-of-type {
    margin-right: 0px;
  }
  &__img{
   display:flex;
   justify-content:center;
    & > *{
      height: 50px;
      margin-right:5px;
      object-fit: contain;
      font-size: 50px;
    }
  }
  &__column{
    .el-checkbox{
      margin-bottom: 10px;
      cursor: move;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-height: 40px;
    height: auto;
    overflow: hidden;
    margin-bottom: 5px;
    background-color: #fff;
  }
  &__search{
    .el-form-item--medium.el-form-item{
      margin-bottom: 22px;
    }
  }
  .el-table--small{
    .avue-crud__color{
      width: 30px;
      height: 30px;
    }
    .avue-crud__icon{
      font-size: 30px;
    }
  }
  margin: 0 auto;
  width: 100%;
  th {
    word-break: break-word;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fafafa;
  }
  table td {
      line-height: 26px;
  }
  &--indeterminate{
    .is-indeterminate{
      .el-checkbox__inner {
        background-color: #fff;
        border-color: #dcdfe6;
      }
    }
  }
  .el-table th.el-table__cell{
    word-break: break-word;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fafafa;
  }
  &__color{
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: block;
  }
  &__ghost{
    cursor: move;
    opacity: 0.4;
  }
  .is-always-shadow+&__pagination {
    padding: 0;
  }
  &__pagination {
    position: relative;
    padding:20px 0;
    .el-pagination {
      justify-content: flex-end;
    }
  }
  &__form {
    padding: 0 8px;
  }
  &__empty{
    padding:  60px 0;
  }
  &__header {
    margin-bottom: 10px;
    & > .el-button {
      padding: 12px 25px;
    }
  }
  &__title {
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
  }
  &__tip{
    padding:4px 10px 6px 10px;
    width: 100%;
    margin-bottom:10px;
    border:1px solid #d9ecff;
    background-color: #ecf5ff;
    color:#409eff;
    font-size: 12px;
    border-radius: 3px;
    &-name{
      margin-right: 10px;
    }
    &-count{
      padding: 0 1px;
      font-size: 16px;
      font-weight: bold;
    }
    &-button{
      cursor: pointer;
      font-size: 12px;
      font-weight: bold;
    }
  }
  &__filter {
    &-item {
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-menu {
      padding: 0 5px;
      margin-bottom: 20px;
    }
    &-label {
      margin: 0 5px;
      width: 120px !important;
    }
    &-symbol {
      margin: 0 5px;
      width: 80px !important;
    }
    &-value {
      margin: 0 5px;
      width: 150px !important;
      .el-date-editor.el-input, .el-date-editor.el-input__inner{
        width: 100%;
      }
    }
    &-icon {
      margin-left: 10px;
    }
  }
  &__dialog {
    &__header{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__menu{
      position: absolute;
      right: 5px;
      z-index: 1;
      i{
        color: #909399;
        font-size: 14px;
        &:hover{
          color:#409EFF;
        }
        cursor: pointer;
      }
    }
    &--fullscreen{
      max-width: inherit;
      max-height: inherit;
    }
    .el-dialog__body{
      padding: 20px 20px 5px 10px;
    }
  }
}
