$color-blue: #2196f3;
$space-width: 15px;
.avue-crud {
  .el-checkbox:last-of-type {
    margin-right: 0px;
  }
  .el-range-editor--mini{
    height: 28px;
  }
  &__img{
   display:flex;
   justify-content:center;
    img{
      height: 40px;
      margin-left:5px;
      object-fit: contain;
    }
  }
  &__column{
    .el-checkbox{
      margin-bottom: 10px;
      cursor: move;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-height: 40px;
    height: auto;
    overflow: hidden;
    margin-bottom: 5px;
  }
  &-search{
    .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
      margin-bottom: 8px;
    }
  }
  .el-table--mini{
    .avue-crud__color{
      width: 20px;
      height: 20px;
    }
    .avue-crud__icon-select{
      font-size: 22px;
    }
  }
  .el-table--small{
    .avue-crud__color{
      width: 30px;
      height: 30px;
    }
    .avue-crud__icon-select{
      font-size: 22px;
    }
  }
  margin: 0 auto;
  width: 99%;
  th {
    word-break: break-word;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fafafa;
  }
  .ms-tree-title{
      padding-left: 10px;
  }
  .ms-tree-space {
      position: relative;
      top: 1px;
      display: inline-block;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      width: $space-width;
      height: 14px;
      &::before {
          content: "";
      }
  }
  .processContainer {
      width: 100%;
      height: 100%;
  }
  table td {
      line-height: 26px;
  }
  .tree-ctrl {
      position: relative;
      cursor: pointer;
      color:#666;
      margin-left: -$space-width;
      display: inline-block;
      width: 17px;
      height: 17px;
      text-align: center;
      line-height: 14px;
      border: 1px solid #e8e8e8;
      user-select: none;
      background: #fff;
      font-size: 10px;
      i{
        padding-top: 3px;
      }
  }
  @keyframes treeTableShow {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-webkit-keyframes treeTableShow {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  &--indeterminate{
    .is-indeterminate{
      .el-checkbox__inner {
        background-color: #fff;
        border-color: #dcdfe6;
      }
    }
  }
  .el-table th {
    word-break: break-word;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fafafa;
  }
  &__color{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: block;
  }
  &__icon-select{
    font-size: 28px;
  }
  &__sortable{
    opacity: 0.2;
  }
  &__drag-handler{
    cursor: pointer;
  }
  &__pagination {
    position: relative;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px 20px;
    text-align: right;
  }
  &__form {
    padding: 0 8px;
  }
  &__empty{
    padding:  60px 0;
  }
  &__header {
    margin-bottom: 10px;
    & > .el-button {
      padding: 12px 25px;
    }
  }
  &__title {
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
  }
  &__tip{
    margin:8px 0;
    display: flex;
    align-items: center;
    font-size: 12px;
    &-name{
      margin-right: 10px;
    }
    &-count{
      font-size: 16px;
      font-weight: 600;
    }
    .el-button{
      margin-bottom: 0;
    }
  }
  &__filter {
    &-item {
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-menu {
      padding: 0 38px;
      margin-bottom: 20px;
    }
    &-label {
      margin: 0 5px;
      width: 120px !important;
    }
    &-symbol {
      margin: 0 5px;
      width: 80px !important;
    }
    &-value {
      margin: 0 5px;
      width: 150px !important;
      .el-date-editor.el-input, .el-date-editor.el-input__inner{
        width: 100%;
      }
    }
    &-icon {
      margin-left: 10px;
    }
  }
  &__dialog {
    &__menu{
      display: flex;
      justify-content: space-between;
      .menu{
        padding-right: 25px;
        color: #909399;
      }
    }
    .el-scrollbar__wrap{
      overflow-x: hidden;
    }
    .el-dialog__body{
      padding:10px 15px 0 15px;
    }
    .el-dialog {
      border-radius: 5px;
    }
    .avue-form__menu{
      padding-top: 15px;
    }
  }
}

