$color-blue: #2196f3;
$space-width: 15px;
.avue-crud {
  .el-card+.el-card {
    margin-top: 8px;
  }
  &--card{
    .el-card{
      border:none;
    }
    .el-card__body{
      padding: 0;
    }
    .el-card+.el-card {
      margin-top: 0;
    }
  }
  .el-table{
    .el-form-item{
      margin-bottom: 0;
      display: inline-block;
      width: 100%;
    }
    .el-form-item__label{
      position: absolute;
      left: 2px;
    }
    .el-form-item__content{
      line-height: inherit;
      font-size: inherit;
    }
    .el-form-item__error{
      width: 100%;
      text-align: left;
      position: relative;
    }
  }
  .el-dropdown+.el-button {
    margin-left: 10px;
   }
  .el-checkbox:last-of-type {
    margin-right: 0px;
  }
  .el-range-editor--mini{
    height: 28px;
  }
  &__img{
   display:flex;
   justify-content:center;
    img,video{
      height: 40px;
      margin-left:5px;
      object-fit: contain;
    }
  }
  &__column{
    .el-checkbox{
      margin-bottom: 10px;
      cursor: move;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-height: 40px;
    height: auto;
    overflow: hidden;
    margin-bottom: 5px;
    background-color: #fff;
  }
  &__search{
    .el-form-item--medium.el-form-item{
      margin-bottom: 22px;
    }
    .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
      margin-bottom: 14px;
    }
  }
  .el-table--mini{
    .avue-crud__color{
      width: 20px;
      height: 20px;
    }
    .avue-crud__icon{
      font-size: 20px;
    }
  }
  .el-table--small{
    .avue-crud__color{
      width: 30px;
      height: 30px;
    }
    .avue-crud__icon{
      font-size: 30px;
    }
  }
  margin: 0 auto;
  width: 100%;
  th {
    word-break: break-word;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fafafa;
  }
  table td {
      line-height: 26px;
  }
  &--indeterminate{
    .is-indeterminate{
      .el-checkbox__inner {
        background-color: #fff;
        border-color: #dcdfe6;
      }
    }
  }
  .el-table th {
    word-break: break-word;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fafafa;
  }
  &__color{
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: block;
  }
  &__icon{
    font-size: 45px;
    &--small{
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
  &__ghost{
    cursor: move;
    opacity: 0.4;
  }
  .is-always-shadow+&__pagination {
      padding: 0;
  }
  &__pagination {
    position: relative;
    padding: 25px 0 20px 20px;
    text-align: right;
    .el-pagination {
      display: inline-block;
    }
  }
  &__form {
    padding: 0 8px;
  }
  &__empty{
    padding:  20px 0;
    .el-empty__description{
      margin-top: 0;
    }
  }
  &__header {
    margin-bottom: 10px;
    & > .el-button {
      padding: 12px 25px;
    }
  }
  &__title {
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
  }
  &__tip{
    margin: 0  0 8px 0;
    display: flex;
    align-items: center;
    font-size: 12px;
    &-name{
      margin-right: 10px;
    }
    &-count{
      font-size: 16px;
      font-weight: 600;
    }
    .el-button{
      margin-bottom: 0;
    }
  }
  &__filter {
    &-item {
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-menu {
      padding: 0 5px;
      margin-bottom: 20px;
    }
    &-label {
      margin: 0 5px;
      width: 120px !important;
    }
    &-symbol {
      margin: 0 5px;
      width: 80px !important;
    }
    &-value {
      margin: 0 5px;
      width: 150px !important;
      .el-date-editor.el-input, .el-date-editor.el-input__inner{
        width: 100%;
      }
    }
    &-icon {
      margin-left: 10px;
    }
  }
  &__dialog {
    .el-drawer__header{
      .avue-crud__dialog__menu{
        padding-right: 0;
      }
    }
    &__header{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__menu{
      padding-right: 20px;
      i{
        color: #909399;
        font-size: 15px;
        &:hover{
          color:#409EFF;
        }
      }
    }
    .el-dialog__body,.el-drawer__body{
      padding: 20px 20px 5px 10px;
    }
    .el-drawer__close-btn{
      margin-top: 2px;
      font-size: 18px;
    }
    .el-scrollbar__wrap{
      overflow-x: hidden;
    }
    .avue-form__menu{
      padding-top: 15px;
    }
  }
}

