
.avue-drawer{
  &__wrapper{
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1000;
    outline: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    &--left{
      left:0;
    }
    &--fullscreen{
      width: 100% !important;
    }
  }
  &__content{
    width: 100%;
    height: 100%;
    overflow:auto;
    overflow-x:hidden;
    position: relative;
    background-color: #fff;
    border: 0;
    background-clip: padding-box;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
  }
  &__close{
    position: absolute;
    top:15px;
    right: 12px;
    color:#999;
    font-size: 18px;
    z-index:1000;
    cursor: pointer;
    &:hover{
      color:#409EFF;
    }
  }
  &__header{
    position: relative;
    border-bottom: 1px solid #e8eaec;
    padding: 14px 16px;
    line-height: 1;
  }
  &__title{
    font-size: 15px;
    color: #17233d;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__body{
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    height: calc(100% - 45px);
  }
  &__footer{
    position: absolute;
    bottom:0;
    width:100%;
    padding: 20px;
    padding-top: 10px;
    text-align: right;
    box-sizing: border-box;
  }
}

$time:.3s;
.drawer-fade-left-enter-active {
  animation: drawer-fade-left-in $time;
}

.drawer-fade-left-leave-active {
  animation: drawer-fade-left-out $time;
}

@keyframes drawer-fade-left-in {
  0% {
    transform: translate3d(-100%,0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes drawer-fade-left-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
}


.drawer-fade-enter-active {
  animation: drawer-fade-in $time;
}

.drawer-fade-leave-active {
  animation: drawer-fade-out $time;
}

@keyframes drawer-fade-in {
  0% {
    transform: translate3d(100%,0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes drawer-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}
