.avue-dynamic{
  &__item{
    margin-bottom: 10px;
    width:100%;
    display: flex;
    align-items: center;
   
  }
  &__header{
    padding-left: 40px;
  }
  &__row{
    position: relative;
    border-top:1px dashed #eee;
    padding-top:13px;
    &:first-child{
      border-top:0;
    }
  }
  &__menu{
    position: absolute;
    right: 0;
    z-index:1024;
  }
  &__input{
    margin-right: 8px;
    width:100%;
   }
   &__button{
     margin-bottom: 0 !important;
   }
}