.avue-img {
  &--center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--fullscreen {
    .el-dialog__body {
      height: 100%;
    }
  }
}

.avue-image-preview{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  transition: all 0.5s;
  z-index:9998;
  .el-image-viewer__close{
    i{
      color:#fff;
    }
  }
  .el-image-viewer__btn{
    z-index: 1024;
  }
  img{
    transition: all 0.5s;
    cursor: pointer;
  }
  &__mask{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index:-1;
  }
  &__box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    .el-carousel{
      width: 90%;
      height: 100%;
    }
    .el-carousel__container{
      height: 100%;
    }
    .el-carousel__item{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
