.avue-input-icon{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &__item{
    text-align: center;
    width: 60px;
    padding: 10px 20px 0 20px;
    transition: all .2s;
    p{
      font-size: 12px;
      margin-top: 5px;
    }
    &:hover{
      transform: scale(1.4);
    }
    &--active{
      transform: scale(1.4);
      color:#409EFF;
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
  }
  &__icon{
    font-size: 32px !important;
  }
  &__icon-symbol{
    width: 32px;
    height: 32px;
    margin: 0 auto;
    fill: currentColor;
    overflow: hidden;
  }
}
