.amap-icon img,
.amap-marker-content img {
  width: 25px;
  height: 34px;
}
.avue-input-map {
  &__marker {
    position: absolute;
    top: -20px;
    right: -118px;
    color: #fff;
    padding: 4px 10px;
    box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.2);
    white-space: nowrap;
    font-size: 12px;
    font-family: "";
    background-color: #25a5f7;
    border-radius: 3px;
  }
  &__content {
    &-input {
      margin-bottom: 10px;
    }
    &-box {
      position: relative;
    }
    &-container {
      width: 100%;
      height: 450px;
    }
    &-result {
      display: block !important;
      position: absolute;
      top: 0;
      right: -8px;
      width: 250px;
      height: 450px;
      overflow-y: auto;
    }
  }
}