.avue-keyboard{
  &--default {
    .akeyboard-keyboard {
      height: 100%;
      width: 100%;
      background: #f0f0f0;
      border-radius: 5px;
      padding: 5px;
      padding-top: 9px;
      box-sizing: border-box;
    }

    .akeyboard-keyboard-innerKeys {
      text-align: center;
    }

    .akeyboard-keyboard-keys {
      height: 40px;
      min-width: 40px;
      padding: 0 10px;
      border-radius: 5px;
      background: white;
      display: inline-block;
      line-height: 40px;
      text-align: center;
      box-sizing: border-box;
      margin: 4px;
      cursor: pointer;
      user-select: none;
    }

    .akeyboard-keyboard-keys:hover {
      background: #1e9fff;
      color: white;
    }

    .akeyboard-keyboard-keys-Delete {
      width: 80px;
    }

    .akeyboard-keyboard-keys-Tab {
      width: 80px;
    }

    .akeyboard-keyboard-keys-Caps {
      width: 77px;
    }

    .akeyboard-keyboard-keys-Enter {
      width: 90px;
    }

    .akeyboard-keyboard-keys-Shift {
      width: 106px;
    }

    .akeyboard-keyboard-keys-Space {
      width: 350px;
    }

    .keyboard-keyboard-keys-focus {
      background: #1e9fff;
      color: white;
    }

    .akeyboard-keyboard-fixedBottomCenter {
      width: 100% !important;
      height: auto !important;
      position: fixed;
      bottom: 0px;
      left: 0px;
      border-radius: 0 !important;
    }

    /*
        number keyboard
    */
    .akeyboard-numberKeyboard {
      height: 100%;
      width: 100%;
      background: #f0f0f0;
      border-radius: 5px;
      padding: 5px;
      padding-top: 10px;
      box-sizing: border-box;
    }

    .akeyboard-numberKeyboard-keys-Enter {
      height: 40px;
      width: 100px;
    }

    /*
        mobile keyboard
    */
    .akeyboard-mobileKeyboard {
      height: 100%;
      width: 100%;
      background: #f0f0f0;
      border-radius: 5px;
      padding: 5px;
      padding-top: 11px;
      box-sizing: border-box;
    }

    .akeyboard-mobileKeyboard-keys {
      height: 25px;
      min-width: 25px;
      padding: 0 10px;
      border-radius: 3px;
      background: white;
      display: inline-block;
      line-height: 25px;
      text-align: center;
      box-sizing: border-box;
      margin: 2px;
      margin-top: 3px;
      cursor: pointer;
      user-select: none;
      font-size: 10px;
    }

    .akeyboard-mobileKeyboard-keys:hover {
      background: #1e9fff !important;
      color: white;
    }

    .akeyboard-mobileKeyboard-keys-⇧ {
      width: 25px;
      background-color: rgb(153, 159, 175);
    }

    .akeyboard-mobileKeyboard-keys-⇦ {
      width: 25px;
      background-color: rgb(153, 159, 175);
    }

    .akeyboard-mobileKeyboard-keys-Space {
      height: 28px;
      width: 100px;
      line-height: 28px;
      margin-left: 55px;
    }

    .akeyboard-mobileKeyboard-keys-Enter {
      height: 28px;
      width: 55px;
      line-height: 28px;
      background: #1e9fff !important;
      color: white;
    }

    .akeyboard-mobileKeyboard-keys-focus {
      background: #1e9fff !important;
      color: white;
    }
  }
  &--green {
    .akeyboard-keyboard {
      height: 100%;
      width: 100%;
      background: #003300;
      border-radius: 5px;
      padding: 5px;
      padding-top: 9px;
      box-sizing: border-box;
    }

    .akeyboard-keyboard-innerKeys {
      text-align: center;
    }

    .akeyboard-keyboard-keys {
      height: 40px;
      min-width: 40px;
      padding: 0 10px;
      border-radius: 5px;
      background: #cccc99;
      display: inline-block;
      line-height: 40px;
      text-align: center;
      box-sizing: border-box;
      margin: 4px;
      cursor: pointer;
      user-select: none;
    }

    .akeyboard-keyboard-keys:hover {
      background: #669933;
      color: white;
    }

    .akeyboard-keyboard-keys-Delete {
      width: 80px;
    }

    .akeyboard-keyboard-keys-Tab {
      width: 80px;
    }

    .akeyboard-keyboard-keys-Caps {
      width: 77px;
    }

    .akeyboard-keyboard-keys-Enter {
      width: 90px;
    }

    .akeyboard-keyboard-keys-Shift {
      width: 106px;
    }

    .akeyboard-keyboard-keys-Space {
      width: 350px;
    }

    .keyboard-keyboard-keys-focus {
      background: #669933;
      color: white;
    }

    .akeyboard-keyboard-fixedBottomCenter {
      width: 100% !important;
      height: auto !important;
      position: fixed;
      bottom: 0px;
      left: 0px;
      border-radius: 0 !important;
    }

    /*
        number keyboard
    */
    .akeyboard-numberKeyboard {
      height: 100%;
      width: 100%;
      background: #003300;
      border-radius: 5px;
      padding: 5px;
      padding-top: 10px;
      box-sizing: border-box;
    }

    .akeyboard-numberKeyboard-keys-Enter {
      height: 40px;
      width: 100px;
    }

    /*
        mobile keyboard
    */
    .akeyboard-mobileKeyboard {
      height: 100%;
      width: 100%;
      background: #003300;
      border-radius: 5px;
      padding: 5px;
      padding-top: 11px;
      box-sizing: border-box;
    }
    
    .akeyboard-mobileKeyboard-keys {
      height: 25px;
      min-width: 25px;
      padding: 0 10px;
      border-radius: 3px;
      background: #cccc99;
      display: inline-block;
      line-height: 25px;
      text-align: center;
      box-sizing: border-box;
      margin: 2px;
      margin-top: 3px;
      cursor: pointer;
      user-select: none;
      font-size: 10px;
    }

    .akeyboard-mobileKeyboard-keys:hover {
      background: #669933 !important;
      color: white;
    }

    .akeyboard-mobileKeyboard-keys-⇧ {
      width: 25px;
      background-color: rgb(153, 159, 175);
    }

    .akeyboard-mobileKeyboard-keys-⇦ {
      width: 25px;
      background-color: rgb(153, 159, 175);
    }

    .akeyboard-mobileKeyboard-keys-Space {
      height: 28px;
      width: 100px;
      line-height: 28px;
      margin-left: 55px;
    }

    .akeyboard-mobileKeyboard-keys-Enter {
      height: 28px;
      width: 55px;
      line-height: 28px;
      background: #669933 !important;
      color: white;
    }

    .akeyboard-mobileKeyboard-keys-focus {
      background: #669933 !important;
      color: white;
    }
  }
  &--dark {
    .akeyboard-keyboard {
      height: 100%;
      width: 100%;
      background: black;
      color: white;
      border-radius: 5px;
      padding: 5px;
      padding-top: 9px;
      box-sizing: border-box;
    }

    .akeyboard-keyboard-innerKeys {
      text-align: center;
    }

    .akeyboard-keyboard-keys {
      height: 40px;
      min-width: 40px;
      padding: 0 10px;
      border-radius: 5px;
      background: #393d49;
      color: white;
      display: inline-block;
      line-height: 40px;
      text-align: center;
      box-sizing: border-box;
      margin: 4px;
      cursor: pointer;
      user-select: none;
    }

    .akeyboard-keyboard-keys:hover {
      background: #1e9fff;
    }

    .akeyboard-keyboard-keys-Delete {
      width: 80px;
    }

    .akeyboard-keyboard-keys-Tab {
      width: 80px;
    }

    .akeyboard-keyboard-keys-Caps {
      width: 77px;
    }

    .akeyboard-keyboard-keys-Enter {
      width: 90px;
    }

    .akeyboard-keyboard-keys-Shift {
      width: 106px;
    }

    .akeyboard-keyboard-keys-Space {
      width: 350px;
    }

    .keyboard-keyboard-keys-focus {
      background: #1e9fff;
    }

    .akeyboard-keyboard-fixedBottomCenter {
      width: 100% !important;
      height: auto !important;
      position: fixed;
      bottom: 0px;
      left: 0px;
      border-radius: 0 !important;
    }

    /*
        number keyboard
    */
    .akeyboard-numberKeyboard {
      height: 100%;
      width: 100%;
      background: black;
      border-radius: 5px;
      padding: 5px;
      padding-top: 10px;
      box-sizing: border-box;
    }

    .akeyboard-numberKeyboard-keys-Enter {
      height: 40px;
      width: 100px;
    }

    /*
        mobile keyboard
    */
    .akeyboard-mobileKeyboard {
      height: 100%;
      width: 100%;
      background: black;
      border-radius: 5px;
      padding: 5px;
      padding-top: 11px;
      box-sizing: border-box;
    }
    
    .akeyboard-mobileKeyboard-keys {
      height: 25px;
      min-width: 25px;
      padding: 0 10px;
      border-radius: 3px;
      background: #393d49;
      color: white;
      display: inline-block;
      line-height: 25px;
      text-align: center;
      box-sizing: border-box;
      margin: 2px;
      margin-top: 3px;
      cursor: pointer;
      user-select: none;
      font-size: 10px;
    }

    .akeyboard-mobileKeyboard-keys:hover {
      background: #1e9fff !important;
      color: white;
    }

    .akeyboard-mobileKeyboard-keys-⇧ {
      width: 25px;
      background-color: rgb(153, 159, 175);
    }

    .akeyboard-mobileKeyboard-keys-⇦ {
      width: 25px;
      background-color: rgb(153, 159, 175);
    }

    .akeyboard-mobileKeyboard-keys-Space {
      height: 28px;
      width: 100px;
      line-height: 28px;
      margin-left: 55px;
    }

    .akeyboard-mobileKeyboard-keys-Enter {
      height: 28px;
      width: 55px;
      line-height: 28px;
      background: #1e9fff !important;
      color: white;
    }

    .akeyboard-mobileKeyboard-keys-focus {
      background: #1e9fff !important;
      color: white;
    }
  }
  &--classic {
    .akeyboard-keyboard {
      height: 100%;
      width: 100%;
      background: #2f4056;
      border-radius: 5px;
      padding: 5px;
      padding-top: 9px;
      box-sizing: border-box;
    }

    .akeyboard-keyboard-innerKeys {
      text-align: center;
    }

    .akeyboard-keyboard-keys {
      height: 40px;
      min-width: 40px;
      padding: 0 10px;
      border-radius: 5px;
      background: white;
      display: inline-block;
      line-height: 40px;
      text-align: center;
      box-sizing: border-box;
      margin: 4px;
      cursor: pointer;
      user-select: none;
    }

    .akeyboard-keyboard-keys:hover {
      background: #c2c2c2;
      color: white;
    }

    .akeyboard-keyboard-keys-Delete {
      width: 80px;
    }

    .akeyboard-keyboard-keys-Tab {
      width: 80px;
    }

    .akeyboard-keyboard-keys-Caps {
      width: 77px;
    }

    .akeyboard-keyboard-keys-Enter {
      width: 90px;
    }

    .akeyboard-keyboard-keys-Shift {
      width: 106px;
    }

    .akeyboard-keyboard-keys-Space {
      width: 350px;
    }

    .keyboard-keyboard-keys-focus {
      background: #c2c2c2;
      color: white;
    }

    .akeyboard-keyboard-fixedBottomCenter {
      width: 100% !important;
      height: auto !important;
      position: fixed;
      bottom: 0px;
      left: 0px;
      border-radius: 0 !important;
    }

    /*
        number keyboard
    */
    .akeyboard-numberKeyboard {
      height: 100%;
      width: 100%;
      background: #2f4056;
      border-radius: 5px;
      padding: 5px;
      padding-top: 10px;
      box-sizing: border-box;
    }

    .akeyboard-numberKeyboard-keys-Enter {
      height: 40px;
      width: 100px;
    }

    /*
        mobile keyboard
    */
    .akeyboard-mobileKeyboard {
      height: 100%;
      width: 100%;
      background: #2f4056;
      border-radius: 5px;
      padding: 5px;
      padding-top: 11px;
      box-sizing: border-box;
    }
    
    .akeyboard-mobileKeyboard-keys {
      height: 25px;
      min-width: 25px;
      padding: 0 10px;
      border-radius: 3px;
      background: white;
      display: inline-block;
      line-height: 25px;
      text-align: center;
      box-sizing: border-box;
      margin: 2px;
      margin-top: 3px;
      cursor: pointer;
      user-select: none;
      font-size: 10px;
    }

    .akeyboard-mobileKeyboard-keys:hover {
      background: #c2c2c2 !important;
      color: white;
    }

    .akeyboard-mobileKeyboard-keys-⇧ {
      width: 25px;
      background-color: rgb(153, 159, 175);
    }

    .akeyboard-mobileKeyboard-keys-⇦ {
      width: 25px;
      background-color: rgb(153, 159, 175);
    }

    .akeyboard-mobileKeyboard-keys-Space {
      height: 28px;
      width: 100px;
      line-height: 28px;
      margin-left: 55px;
    }

    .akeyboard-mobileKeyboard-keys-Enter {
      height: 28px;
      width: 55px;
      line-height: 28px;
      background: #c2c2c2 !important;
      color: white;
    }

    .akeyboard-mobileKeyboard-keys-focus {
      background: #c2c2c2 !important;
      color: white;
    }
  }
}