.avue-notice{
  &__item{
    padding: 12px 24px;
    border-bottom: 1px solid #e8eaec;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    text-align: left;
    display: flex;
    align-items: flex-start;
  }
  &__content{
    flex:1;
  }
  &__img{
    width:38px;
    height: 38px;
    border-radius: 100%;
    margin-top: 5px;
    margin-right: 10px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__name{
    line-height: 25px;
  }
  &__title{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #515a6e;
    margin-bottom: 4px;
  }
  &__tag{
    float: right;
    margin-top: 2px;
  }
  &__subtitle{
    font-size: 12px;
    color: #808695;
  }
  &__more{
    cursor: pointer;
    color: #2d8cf0;
    text-align: center;
    padding: 10px 0;
  }
}