.avue-verify{
  &__item{
    padding: 5px 10px;
    display: inline-block;
    margin: 0 4px;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    font-size: 64px;
    text-align: center;
  }
}