body {
    background-color: #eee;
}

.avue-tip {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ced6ce;
    background-color: #fff;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #83c182;
    box-sizing: border-box;
    line-height: 30px;
    &__title {
        font-weight: 300;
    }
}

.avue-content {
    width: 1200px;
    margin: 30px auto;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 5px;
    &__title {
        margin-bottom: 20px;
        font-size: 24px;
    }
    &__data {
        min-height: 80px;
    }
    &__item {
        margin-bottom: 40px;
    }
}

legend {
    color: #252731;
    display: unset;
    width: unset;
    padding: 0 15px;
    margin-bottom: 40px;
    line-height: inherit;
    border: unset;
    border-bottom: unset;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 300;
}

fieldset {
    border: 0;
    border-top: 1px solid #e6e6e6 !important;
    width: 300px;
    height: 20px;
    margin: 0 auto 30px;
    text-align: center;
}