.avue-form__mobile {
  padding-bottom: 20px;
  background-color: #f0f0f0;
  &-menu {
    margin-top: 30px;
    padding: 0 5px;
  }
  .van-cell {
    padding: 10px 15px 10px 20px;
  }
  .van-cell--required::before {
    top: 12px;
  }
  .van-cell:not(:last-child)::after {
    display: none;
  }

  .van-cell-group {
    background-color: transparent;
  }
  .van-switch {
    display: block;
    float: right;
  }
  .van-cell__title {
    width:80px;
    flex:inherit;
  }
  .van-cell__value {
    font-size: 13px;
    color: #333;
  }
}
.avue-upload__mobile{
  $img-width:70px;
  &-upload{
    margin-top: -8px;
    width:$img-width;
    height:$img-width;
    background-color: #fbfdff;
    border:1px dashed #ccc;
    border-radius: 3px;
    line-height: $img-width+10px;
    text-align: center;
    i{
      color:#666;
      font-size: 24px;
    }
  }
  &-list{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width:100%;
    height: 100%;
    left:0;
    top:0;
    color:#fff;
    background-color: rgba(0,0,0,.2);
    z-index:1024;
    border-radius: 5px;
    i{
      margin:0 5px;
    }
  }
  &-item{
    position: relative;
    margin-right: 8px;
    margin-bottom: 10px;
    width:$img-width;
    height:$img-width;
    border:1px solid #eee;
    border-radius: 5px;
    
    img{
      width: 100%;
      height: 100%;
      border-radius: 5px;
      
    }
  }
}
