@import './tabs.scss';
@import './cardText.scss';
@import './box.scss';
@import './progress.scss';
@import './icons.scss';
@import './card.scss';
@import './display.scss';
@import './imgText.scss';
@import './operaText.scss';
@import './rotate.scss';
@import './pay.scss';
@import './price.scss';
@import './panel.scss';
[class^="avue-data-"]{
  a{
    text-decoration: none;
  }
}
[class^="data-"]{
  a{
    text-decoration: none;
  }
}