.avue-data-panel{
  .item{
    padding: 0 30px;
    margin: 0 20px;
    cursor: pointer;
    height: 108px;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0,0,0,.05);
    border-color: rgba(0,0,0,.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-icon{
      font-size: 52px;
    }
    &-info{
      text-align: center;
    }
    &-title{
      line-height: 18px;
      color: rgba(0,0,0,.45);
      font-size: 16px;
      margin-bottom: 12px;
    }
    &-count{
      font-size: 20px;
    }
  }
}