.avue-data-pay{
 .item{
  margin: 0 auto;
  padding-bottom: 16px;
  width:80%;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  min-height: 670px;
  box-shadow: 1px 2px 10px #eee;
 }
 .top{
  width: 100%;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px 4px 0 0;
 }
 .header{
   margin-bottom: 40px;
   text-align: center;
 }
 .title{
  text-align: center;
  padding: 20px 0 10px;
  font-size: 20px;
  font-weight: 200;
 }
 .money{
   span{
    margin-right: 5px;
    font-size: 14px;
   }
   .b{
    margin-right: 2px;
    font-size: 20px;
    font-weight: bold
   }
   s{
    margin-right: 3px;
    font-size: 12px;
   }
   em{
    font-size: 14px;
    font-style: normal;
   }
 }
 .img{
  width: 50px;
 }
 .line{
  width: 60%;
  height: 1px;
  background: hsla(0,0%,59%,.1);
  margin: 20px auto;
 }
 .btn{
  display: block;
  width: 120px;
  height: 32px;
  line-height: 32px;
  margin: 0 auto;
  text-align: center;
  border-radius: 32px;
  color: #fff;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
 }
 .list{
  &-item{
    list-style: none;
    padding-left: 20px;
    margin-bottom: 12px;
    color: #666;
    font-size: 14px;
    a{
      color: #666;
    }
    &-icon{
      color:#515a6e;
      margin-right: 8px;
    }
    &--link{
      font-size: 12px;
      color: #2d8cf0;
    }
    &--no{
      color: #c5c8ce;
      & + span{
        color: #c5c8ce;
      }
    }
   }
 }
}